Django==5.1.2
boto3
djangorestframework
djangorestframework-simplejwt
django-storages
psycopg2-binary
python-decouple
python-dotenv
django-cors-headers
django-filter
gunicorn
requests
paypalrestsdk
Pillow
